/* Runner and pronouns panel. */
.runner-container {
	width: 374px;
	height: 62px;
	line-height: 62px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 365px;
}

/* Player 1 info position. */
#runner-container1 {
	left: 30px;
	top: 432px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 1132px;
	top: 432px;
}

/* Player 3 info position. */
#runner-container3 {
	left: 390px;
	top: 502px;
}

/* Player 4 info position. */
#runner-container4 {
	left: 1492px;
	top: 502px;
}

/* Game name panel. */
#game-name {
	width: 248px;
	height: 78px;
	line-height: 78px;
	left: 832px;
	top: 370px;
	
	padding-left: 2px;
	padding-right: 2px;
}

/* Category and estimate panel. */
#info-container {
	width: 243px;
	height: 48px;
	line-height: 48px;
	left: 832px;
	top: 454px;

	font-size: 20px;
	
	padding-left: 4px;
	padding-right: 4px;
}

#estimate-label img {
	height: 16pt;
}

/* Timer panel. */
#timer {
	width: 253px;
	height: 120px;
	line-height: 120px;
	left: 832px;
	top: 221px;
	
	font-size: 42pt;
}

/* Sponsor panel. */
#sponsor-container {
	width: 282px;
	height: 300px;
	line-height: 320px;
	left: 816px;
	top: 502px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 70%;
}