/* Runner and pronouns panel. */
#runner-container1 {
	width: 392px;
	height: 63px;
	line-height: 63px;
	left: 16px;
	top: 304px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 282px;
}

/* Game name panel. */
#game-name {
	width: 876px;
	height: 84px;
	line-height: 84px;
	left: 999px;
	top: 834px;
		
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 876px;
	height: 58px;
	line-height: 58px;
	left: 999px;
	top: 926px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 117px;
	line-height: 117px;
	left: 459px;
	top: 846px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 456px;
	height: 622px;
	line-height: 622px;
	left: 0px;
	top: 372px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 85%;
}