/* Runner and pronouns panel. */
.runner-container {
	width: 394px;
	height: 63px;
	line-height: 63px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 248px;
}

/* Player 1 info position. */
#runner-container1 {
	left: 600px;
	top: 550px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 890px;
	top: 628px;
}

/* Game name panel. */
#game-name {
	width: 495px;
	height: 88px;
	line-height: 88px;
	left: 693px;
	top: 837px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 495px;
	height: 54px;
	line-height: 54px;
	left: 693px;
	top: 928px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 118px;
	line-height: 118px;
	left: 693px;
	top: 702px;
}