/* Runner and pronouns panel. */
#runner-container1 {
	width: 394px;
	height: 63px;
	line-height: 63px;
	left: 60px;
	top: 270px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 285px;
}

/* Game name panel. */
#game-name {
	width: 752px;
	height: 84px;
	line-height: 84px;
	left: 1095px;
	top: 834px;
		
	padding-left: 30px;
	padding-right: 30px;
}

/* Category and estimate panel. */
#info-container {
	width: 782px;
	height: 58px;
	line-height: 58px;
	left: 1095px;
	top: 926px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 117px;
	line-height: 117px;
	left: 550px;
	top: 846px;
}