/* Runner and pronouns panel. */
#runner-container1 {
	width: 524px;
	height: 63px;
	line-height: 63px;
	left: 13px;
	top: 291px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 412px;
}

/* Game name panel. */
#game-name {
	width: 494px;
	height: 84px;
	line-height: 84px;
	left: 28px;
	top: 546px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 494px;
	height: 60px;
	line-height: 60px;
	left: 28px;
	top: 634px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 118px;
	line-height: 118px;
	left: 28px;
	top: 386px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 585px;
	height: 296px;
	line-height: 296px;
	left: 0;
	top: 698px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 45%;
}