/* Runner and pronouns panel. */
.runner-container {
	width: 534px;
	height: 66px;
	line-height: 66px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 480px;
}

/* Player 1 info position. */
#runner-container1 {
	left: 362px;
	top: 732px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 1000px;
	top: 732px;
}

/* Game name panel. */
#game-name {
	width: 506px;
	height: 90px;
	line-height: 90px;
	left: 1030px;
	top: 818px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category and estimate panel. */
#info-container {
	width: 506px;
	height: 58px;
	line-height: 58px;
	left: 1030px;
	top: 910px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 116px;
	line-height: 116px;
	left: 362px;
	top: 834px;
}