/* Runner and pronouns panel. */
#runner-container1 {
	width: 527px;
	height: 66px;
	line-height: 66px;
	left: 13px;
	top: 291px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 512px;
}

/* Game name panel. */
#game-name {
	width: 494px;
	height: 84px;
	line-height: 84px;
	left: 30px;
	top: 542px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 494px;
	height: 62px;
	line-height: 62px;
	left: 30px;
	top: 630px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 116px;
	line-height: 116px;
	left: 30px;
	top: 392px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 585px;
	height: 300px;
	line-height: 300px;
	left: 0;
	top: 694px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 45%;
}