/* Font settings. */
@font-face {
	font-family: 'PoorStory Regular';
	src: url('../fonts/PoorStory-Regular.ttf');
}

@font-face {
	font-family: 'MeriendaOne Regular';
	src: url('../fonts/MeriendaOne-Regular.ttf');
}
/* You can add an unlimited amount of fonts by copy/pasting @font-face! */

/* General settings. */
body {
	font-family: 'PoorStory Regular';
	color: #f9f9f9;
	width: 1920px;
	height: 1080px;
	position: absolute;
}

/* Game name panel. */
#game-name {
	font-size: 62pt;
	font-stretch: semi-condensed;
	text-align: center;
	position: absolute;
	
	border: 2px solid transparent;
}

/* Runner name and pronouns panel. */
.runner-container {
	position: absolute;
	display: flex;
	
	border: 2px solid transparent;
}

.runner-name {
	margin-right: 15px;
	font-size: 30pt;
	font-stretch: semi-condensed;
	float: left;
	vertical-align: middle;
	width: 100%;
}

.pronouns {
	font-size: 27pt;
	vertical-align: middle;
	text-align: right;
	float: right;
}

.medals {
	margin-top: 10px;
	margin-right: 7px;
	vertical-align: middle;	
	float: right;
}

.medals-img {
	width: 30px;
	height: 30px;
}

/* Category and estimate panel. */
#info-container {
	font-size: 21pt;
	position: absolute;
	display: flex;
	
	border: 2px solid transparent;
}

/* Stopwatch image height. */
#estimate-label img {
	height: 21pt;
}

#category {
	float: left;
	vertical-align: middle;
	flex: 1;
}

#info {
	float: left;
	vertical-align: middle;
	flex: 1;
}

#estimate-container {
	float: right;
	vertical-align: middle;
}

#estimate-label {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}

#estimate {
	display: inline-block;
	margin-top: 3px;
}

/* Timer panel. */
#timer {
	font-family: 'MeriendaOne Regular';
	font-size: 72pt;
	text-align: center;
	position: absolute;
	
	border: 2px solid transparent;
}

.timer_stopped {
	color: #c0c0c0;
}

.timer_paused {
	color: #c0c0c0;
}

.timer_finished {
	color: #50ff50;
}

/* Sponsor panel. */
#sponsor-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	
	border: 2px solid transparent;
}
