/* Runner and pronouns panel. */
#runner-container1 {
	width: 526px;
	height: 66px;
	line-height: 66px;
	left: 14px;
	top: 290px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 417px;
	vertical-align: middle;
}

/* Game name panel. */
#game-name {
	width: 496px;
	height: 84px;
	line-height: 84px;
	left: 28px;
	top: 542px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 496px;
	height: 60px;
	line-height: 60px;
	left: 28px;
	top: 632px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 116px;
	line-height: 116px;
	left: 30px;
	top: 390px;
}