/* Runner and pronouns panel. */
#runner-container1 {
	width: 522px;
	height: 63px;
	line-height: 63px;
	left: 126px;
	top: 416px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 412px;
}

/* Game name panel. */
#game-name {
	width: 498px;
	height: 84px;
	line-height: 84px;
	left: 141px;
	top: 670px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 498px;
	height: 60px;
	line-height: 60px;
	left: 141px;
	top: 760px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 522px;
	height: 116px;
	line-height: 116px;
	left: 141px;
	top: 511px;
}