/* Runner and pronouns panel. */
#runner-container1 {
	width: 526px;
	height: 66px;
	line-height: 66px;
	left: 124px;
	top: 414px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 512px;
}

/* Game name panel. */
#game-name {
	width: 493px;
	height: 84px;
	line-height: 84px;
	left: 141px;
	top: 666px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 494px;
	height: 60px;
	line-height: 60px;
	left: 141px;
	top: 756px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 116px;
	line-height: 116px;
	left: 141px;
	top: 516px;
}