/* Runner and pronouns panel. */
#runner-container1 {
	width: 467px;
	height: 60px;
	line-height: 60px;
	left: 87px;
	top: 339px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 475px;
}

/* Game name panel. */
#game-name {
	width: 692px;
	height: 84px;
	line-height: 84px;
	left: 1180px;
	top: 850px;
		
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 692px;
	height: 42px;
	line-height: 42px;
	left: 1180px;
	top: 938px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 498px;
	height: 119px;
	line-height: 119px;
	left: 667px;
	top: 856px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 666px;
	height: 590px;
	line-height: 580px;
	left: 0px;
	top: 400px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 60%;
}