/* Runner and pronouns panel. */
#runner-container1 {
	width: 477px;
	height: 66px;
	line-height: 66px;
	left: 87px;
	top: 345px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 375px;
}

/* Game name panel. */
#game-name {
	width: 650px;
	height: 86px;
	line-height: 86px;
	left: 1226px;
	top: 834px;
		
	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 650px;
	height: 60px;
	line-height: 60px;
	left: 1226px;
	top: 924px;
	
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 524px;
	height: 120px;
	line-height: 120px;
	left: 687px;
	top: 848px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 684px;
	height: 580px;
	line-height: 580px;
	left: 0px;
	top: 414px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 70%;
}