/* Donation Total panel. */
#donationTotal {
	font-size: 108pt;
	font-stretch: semi-condensed;
	width: 366px;
	line-height: 176px;
	text-align: center;
	position: absolute;
	top: 50px;
	left: 1370px;
	
	padding-left: 15px;
	padding-right: 15px;
	
	border: 2px solid transparent;
}

/* Host panel. */
#host-container {
    font-size: 26pt;
    height: 59px;
    line-height: 59px;
    position: absolute;
    top: 850px;
    left: 0;
	
	padding-left: 15px;
	padding-right: 15px;
	
	border: 2px solid transparent;
}

/* Up Next label. */
#up-next-label {
	font-size: 24pt;
	width: 642px;
	position: absolute;
	top: 240px;
	left: 1225px;
	
	border: 2px solid transparent;
}

/* Game panel. */
#up-next-game {
	font-size: 60pt;
	font-stretch: semi-condensed;
	width: 670px;
	line-height: 142px;
	position: absolute;
	top: 280px;
	left: 1220px;
	
	padding-left: 15px;
	padding-right: 15px;
	
	border: 2px solid transparent;
}

/* Up Next info panel. */
#up-next-info-container {
	width: 596px;
	line-height: 58px;
	position: absolute;
	top: 428px;
	left: 1296px;
	
	padding-left: 15px;
	padding-right: 7.5px;
	
	border: 2px solid transparent;	
}

/* Runner name dynamic text. */
#up-next-info {
	max-width: 450px;
	
	border: 2px solid transparent;	
}

/* On Deck label. */
#on-deck-label {
	font-size: 24pt;
	width: 573px;
	position: absolute;
	top: 509px;
	left: 1325px;
	
	border: 2px solid transparent;
}

/* On deck game 1. */
#on-deck-game1 {
	font-size: 54pt;
	font-stretch: semi-condensed;
	width: 572px;
	line-height: 110px;
	position: absolute;
	top: 551px;
	left: 1320px;
	
	padding-left: 15px;
	padding-right: 7.5px;
	
	border: 2px solid transparent;
}

/* On deck info panel 1. */
#on-deck-info-container1 {
	width: 505px;
	line-height: 55px;
	position: absolute;
	top: 665px;
	left: 1387px;
	
	padding-left: 15px;
	padding-right: 7.5px;
	
	border: 2px solid transparent;
}

/* Runner name dynamic text. */
#on-deck-info1 {
	max-width: 345px;
	
	border: 2px solid transparent;	
}

/* On deck game 2. */
#on-deck-game2 {
	font-size: 54pt;
	font-stretch: semi-condensed;
	width: 572px;
	line-height:110px;
	position: absolute;
	top: 780px;
	left: 1320px;
	
	padding-left: 10px;
	padding-right: 5px;
	
	border: 2px solid transparent;
}

/* On deck info panel 2. */
#on-deck-info-container2 {
	width: 505px;
	line-height: 55px;
	position: absolute;
	top: 896px;
	left: 1387px;
	
	padding-left: 15px;
	padding-right: 7.5px;
	
	border: 2px solid transparent;
}

/* Runner name dynamic text. */
#on-deck-info2 {
	max-width: 345px;
	
	border: 2px solid transparent;	
}

/* Info panel options. Don't change unless you know what you're doing! */
.info {
	margin-top: 3px;
	font-size: 22pt;
	font-stretch: semi-condensed;
	float: left;
	vertical-align: middle;
	width: 100%;
	flex: 1;
}

.estimate-container {
	float: right;
	font-stretch: normal;
	vertical-align: middle;
	width: 100%;
}

.estimate-label {
	display: inline-block;
	vertical-align: middle;
}

.estimate {
	display: inline-block;
	font-stretch: normal;
	font-size: 20pt;
	margin-top: 6px;
}

.estimate-label img {
	height: 27pt;
	width: 100%;
}

#up-next-info-container .info {
	font-size: 26pt;
}