body {
	font-family: 'Oswald Regular';
}

#omnibar {
	background-color: #2A276B;
	display: flex;
	width: 1920px;
	height: 82px;
	border-top: 2px solid #6D91CB;
}

#omnibar > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#omnibar-content {
	flex: 1;
}

#omnibar-content * {
	display: initial;
	margin-top: -5px;
	text-align: center;
}

.singleLine {
	font-size: 24pt;
}

.multiLine {
	font-size: 18pt;
	margin: 0;
}

#charity-logo {
	background-color: #33459C;
	padding: 0 1rem;
	padding-right: 0.5rem;	
}

#donation-total {
	background-color: #33459C;
	padding: 0 0.75rem;
	font-size: 36pt;
	border-right: 2px solid #6D91CB;
}

#marathon-logo {
	background-color: #33459C;
	padding: 0 1rem;
	border-left: 2px solid #6D91CB;
}

#charity-logo img {
	height: 72px;
}

#marathon-logo img {
	height: 108px;
}
